@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,500&display=swap");
/* Estrutura da página */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  background-image: linear-gradient(#b11111c4,black);
  background-repeat:repeat;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  color: azure;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Header para ajuste */
header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ajuste do Form */
.divForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

/* Ajuste do input*/
.divInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.labelInput {
  flex-direction: row;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

/* Ajuste do Radio button */
.divRadioButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.inputRadio {
  margin: 10px 0;
  padding: 10px;
}

p {
  padding: 15px;
}

/* Divs para saída do texto */
.divText {
  color: black;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;

  background-color: white;
  height: 150px;
  width: 300px;
}

/* Ajuste da imagem */
.divImg {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  width: 250px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}

/* Ajuste do botão */

.divButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

button {
  width: 120px;
  background-color: peru;
  border-radius: 20px;
  font-family: "Source Code Pro", monospace;
}


button:hover {
  transition: 2s;
}

/* Em caso de erro ou acerto de preenchimento */
.div-input-error {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.div-input-error .labelInput {
  color: red;
}

.div-input-set {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.div-input-set span {
  color: #2e770f;
}

.div-input-set .labelInput {
  border-color: #2e770f;
}

/* Ajuste do Select */
.selecionarMenu {
  width: 220px;
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

/* Responsividade formulário mobile*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    text-align: center;
  }

  header {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .divForm {
    padding: 15px 0;
  }
  .divText {
    padding: 15px 0;
  }

  .divRadioButton {
    padding: 15px 0;
  }

  .divButton {
    padding: 15px 0;
  }

  .divImg {
    padding: 10px 0;
  }
}
